{% extends 'user/base.html' %}
{% load crispy_forms_tags %}
{% block content %} 
    <div class="container bg-light shadow-md p-5 w-50">
        <h3 class="w-100 text-center">Login to your Account</h3>
        <hr/>
        <form method="POST" autocomplete="off" >
            {% csrf_token%}
            {{form|crispy}}
            <br/>
            <button class="btn btn-primary w-100 btn-block p-2" >Login</button>
        </form>
        <br/>
        <div class="text-center">
            <p>Create an account?</p><a href="{% url 'register' %}">Register</a>
        </div>
    </div>
    <br/>
{% endblock %}